@charset "UTF-8";
/*!
 * Global Values
 */
/*!
 * Mixins
 * We just use the CSS3 mixins of Compass @import 'compass/css3';
 */
/*!
 * Reset
 */
html {
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

body, button, input, select, textarea {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53 ; }

input, select, textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: inherit; }

fieldset, img {
  border: 0; }

iframe {
  display: block; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

del {
  text-decoration: line-through; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500; }

q:before, q:after {
  content: ''; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a:hover {
  text-decoration: underline; }

ins, a {
  text-decoration: none; }

/*
 * 引用自 GitHub markdown 样式，同时修改了代码部分的样式
 */
a {
  color: #4183c4; }

a.absent {
  color: #c00; }

a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
  text-decoration: none; }

h1 tt, h1 code {
  font-size: inherit; }

h2 tt, h2 code {
  font-size: inherit; }

h3 tt, h3 code {
  font-size: inherit; }

h4 tt, h4 code {
  font-size: inherit; }

h5 tt, h5 code {
  font-size: inherit; }

h6 tt, h6 code {
  font-size: inherit; }

h1 {
  font-size: 28px;
  color: black; }

h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  color: black; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  color: #777;
  font-size: 14px; }

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
  margin: 15px 0; }

.markdown-body hr {
  background: url("https://a248.e.akamai.net/assets.github.com/assets/primer/markdown/dirty-shade-350cca8f57223ebd53603021b2e670f4f319f1b7.png") repeat-x scroll 0 0 transparent;
  border: 0 none;
  color: #ccc;
  height: 4px;
  padding: 0; }

.markdown-body h1 + p, .markdown-body h2 + p, .markdown-body h3 + p, .markdown-body h4 + p, .markdown-body h5 + p, .markdown-body h6 + p {
  margin-top: 0; }

.markdown-body li p.first {
  display: inline-block; }

.markdown-body ul, .markdown-body ol {
  padding-left: 30px; }

.markdown-body ul.no-list, .markdown-body ol.no-list {
  list-style-type: none;
  padding: 0; }

.markdown-body ul li > *:first-child, .markdown-body ol li > *:first-child {
  margin-top: 0; }

.markdown-body ul ul, .markdown-body ul ol, .markdown-body ol ol, .markdown-body ol ul {
  margin-bottom: 0; }

.markdown-body dl {
  padding: 0; }

.markdown-body dl dt {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  margin: 15px 0 5px;
  padding: 0; }

.markdown-body dl dt:first-child {
  padding: 0; }

.markdown-body dl dt > *:first-child {
  margin-top: 0; }

.markdown-body dl dt > *:last-child {
  margin-bottom: 0; }

.markdown-body dl dd {
  margin: 0 0 15px;
  padding: 0 15px; }

.markdown-body dl dd > *:first-child {
  margin-top: 0; }

.markdown-body dl dd > *:last-child {
  margin-bottom: 0; }

.markdown-body blockquote {
  border-left: 4px solid #ddd;
  color: #777;
  padding: 0 15px; }

.markdown-body blockquote > *:first-child {
  margin-top: 0; }

.markdown-body blockquote > *:last-child {
  margin-bottom: 0; }

.markdown-body table th {
  font-weight: bold; }

.markdown-body table th, .markdown-body table td {
  border: 1px solid #ccc;
  padding: 6px 13px; }

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #ccc; }

.markdown-body table tr:nth-child(2n) {
  background-color: #f8f8f8; }

.markdown-body img {
  max-width: 100%; }

.markdown-body span.frame {
  display: block;
  overflow: hidden; }

.markdown-body span.frame > span {
  border: 1px solid #ddd;
  display: block;
  float: left;
  margin: 13px 0 0;
  overflow: hidden;
  padding: 7px;
  width: auto; }

.markdown-body span.frame span img {
  display: block;
  float: left; }

.markdown-body span.frame span span {
  clear: both;
  color: #333;
  display: block;
  padding: 5px 0 0; }

.markdown-body span.align-center {
  clear: both;
  display: block;
  overflow: hidden; }

.markdown-body span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center; }

.markdown-body span.align-center span img {
  margin: 0 auto;
  text-align: center; }

.markdown-body span.align-right {
  clear: both;
  display: block;
  overflow: hidden; }

.markdown-body span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right; }

.markdown-body span.align-right span img {
  margin: 0;
  text-align: right; }

.markdown-body span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden; }

.markdown-body span.float-left span {
  margin: 13px 0 0; }

.markdown-body span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden; }

.markdown-body span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right; }

.markdown-body code, .markdown-body tt {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 3px 3px 3px 3px;
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  font-size: 14px; }

.markdown-body pre > code {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  margin: 0;
  padding: 0;
  white-space: pre; }

.markdown-body .highlight pre, .markdown-body pre {
  background-color: #23241f;
  border: 1px solid #ccc;
  border-radius: 3px 3px 3px 3px;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px; }

.markdown-body pre code, .markdown-body pre tt {
  background-color: transparent;
  border: medium none; }

/*============================================================================*/
html {
  height: 100%; }

body {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  color: #000;
  border-top: 5px solid #000;
  background-color: #fff;
  font-family: 'Classic Grotesque W01', Arial, 'Hiragino Sans GB', 'STHeiti', 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, sans-serif;
  font-size: 14px/1.6;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

header .wrap {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1; }
  header .wrap:before, header .wrap:after {
    content: '\20';
    display: table; }
  header .wrap:after {
    clear: both; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  color: #b4b3b3;
  font-size: .8rem; }

.logo {
  display: inline-block;
  width: 52px;
  height: 70px;
  margin-top: 10px;
  margin-left: 20px;
  background-repeat: no-repeat; }

.top-navbar {
  height: 100px;
  margin-bottom: 10px; }
  .top-navbar a {
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    padding: 10px 20px;
    color: #000;
    border-radius: 5px;
    font-size: 20px;
    font-style: bold; }
    .top-navbar a:hover, .top-navbar a.current-page {
      color: #fff;
      border-bottom: none; }
    .top-navbar a:hover {
      text-decoration: none;
      background-color: #000; }
    .top-navbar a.current-page {
      background-color: #000; }

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 150px; }

.archive,
.single {
  margin-bottom: 70px; }

.single {
  float: left;
  width: 630px;
  margin-right: 20px;
  padding: 25px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 4px #ccc;
  font-size: 1rem;
  line-height: 28px; }
  .single time {
    display: block;
    margin-top: -12px;
    margin-bottom: 20px;
    color: #999;
    font-size: .9rem; }

.bundle {
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid gray;
  line-height: 36px; }

.post-date {
  text-align: right;
  color: #7d7d7d; }

.post-year {
  margin: 0;
  border-bottom: none; }

.posts-by-year,
.posts-by-year a {
  font-size: 16px; }

.statement {
  clear: both;
  width: 650px;
  font-size: 14px; }

#disqus_thread {
  width: 650px; }

.sidenav {
  float: right;
  width: 280px;
  margin-bottom: 50px;
  padding: 20px 10px;
  background: #f8f8f8;
  box-shadow: 0 1px 4px #ccc; }
  .sidenav h2 {
    margin-bottom: 15px;
    color: #000;
    font-size: 18px; }
  .sidenav ul {
    margin-bottom: 50px; }
  .sidenav li {
    margin-bottom: 12px;
    word-break: break-all; }
  .sidenav a {
    display: block;
    color: #7d7d7d;
    font-size: 14px; }

#menuIndex {
  overflow: auto; }
  #menuIndex a {
    display: block;
    padding: 2px 0; }
    #menuIndex a:hover {
      text-decoration: none;
      color: #000; }
  #menuIndex ul {
    margin-bottom: 10px;
    list-style: none; }
    #menuIndex ul li {
      margin-bottom: 5px;
      padding-left: 10px;
      word-wrap: break-word;
      font-size: 12px; }
      #menuIndex ul li.on {
        background-color: #ececec; }
      #menuIndex ul li.h1 {
        margin-bottom: 10px;
        padding-left: 0;
        font-size: 14px;
        font-weight: normal; }
      #menuIndex ul li.h3 {
        padding-left: 25px; }

.cnzz {
  visibility: hidden;
  font-size: 0;
  line-height: 0; }

.not-found {
  margin-top: 150px;
  text-align: center;
  font-size: 2rem; }
  .not-found h1 {
    font-size: 8rem; }

/*# sourceMappingURL=main.css.map */
